body {
  background-color: lightcoral;
  font-family: 'Manrope', sans-serif;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  max-width: 1600px;
  margin: auto;
}

.card {
  word-wrap: break-word;
  padding: 0 10px;
  padding-bottom: 15px;
  overflow: hidden;
}

.card-label {
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.card-input-list {
  margin-top: 30px;
}

.card-input-warpper {
  margin-top: 20px;
}

@media screen and (max-width: 450px) {
  .app {
    grid-template-columns: 1fr;
  }
}

.embed-text {
  color: #9e9e9e;
}